<h1>記事一覧</h1>
<p>ライターID：<%= current_writer.id %></p>
<p><%= current_writer.last_name %> <%= current_writer.first_name %>様</p>


<%= form_for(@article, url: writers_articles_path) do |f| %>
<%= f.text_field :keyword_3, placeholder: "keyword_3" %>
<%= f.submit "新規記事作成" %>
<% end %>

<%= search_form_for @q, url: writers_articles_path do |f| %>
<%= f.select :status_eq, Article.statuses.map {|k, v| [Article.statuses_i18n[k], v]}, include_blank: '選択してください' %>
<%= f.submit "さがす" %>
  <% end %>

<table class="table">
  <thead>
  	<tr>
  	  <th>ID</th>
  	  <th>ライターID</th>
	  	<th>キーワード</th>
	  	<th>ステータス</th>
	  	<th>受注日</th>
	  	<th>更新日</th>
	  	<th></th>
	  </tr>
	</thead>
	<tbody>
		<% @articles.each do |article| %>
		<tr>
			<td><%= article.id %></td>
			<td><%= article.writer_id %></td>
			<td>
				<%= link_to writers_article_path(article) do %>
					<%= article.keyword_1 %>
					- <%= article.keyword_2 %>
			  	<% if article.keyword_3.present? %>
			  	- <%= article.keyword_3 %>
			  	<% end %>
			  <% end %>
			 </td>
			<td><%= article.status_i18n %></td>
			<td><%= l article.created_at, format: :middle %></td>
			<td><%= l article.updated_at, format: :middle %></td>
			<td>
				<% if article.status == 'edit_heading' %>
				<%= link_to "見出しを執筆", writers_edit_heading_path(article), class: "btn btn-primary" %>
				<% elsif article.status == 'edit' %>
				<%= link_to "本文を執筆", writers_edit_article_path(article), class: "btn btn-primary" %>
				<% end %>
			</td>
		</tr>
		<% end %>
	</tbody>
</table>