<h1>Writers::Writers#show</h1>
<p>ここのページは今だけ便宜上表示しております。</p>
<p>今ログイン中のライターの情報は下記です。</p>

<%= link_to "ログアウト", destroy_writer_session_path, method: :delete %>
<br>
<br>

writer_id:<strong><%= @writer.id %></strong><br>
email:<strong><%= @writer.email %></strong><br>
last_name:<strong><%= @writer.last_name %></strong><br>
first_name:<strong><%= @writer.first_name %></strong><br>
last_name_kana:<strong><%= @writer.last_name_kana %></strong><br>
first_name_kana:<strong><%= @writer.first_name_kana %></strong><br>
sex:<strong><%= @writer.sex %></strong><br>
birthdate:<strong><%= @writer.birthdate %></strong><br>
occupation:<strong><%= @writer.occupation %></strong><br>
experience_year:<strong><%= @writer.experience_year %></strong><br>
status:<strong><%= @writer.status %></strong><br>
unit_price:<strong><%= @writer.unit_price %></strong>円<br>
