<div id="sign-up-box">
  <h2>新規登録</h2>
  <%= form_for :writer, url: confirm_writer_registration_path do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <div class="row">
      <div class="form-inline">
        <div class="col-md-2"></div>
        <div class="col-md-2">
          <%= f.label :last_name, "お名前", class: "label-padding-top" %>
        </div>
        <div class="col-md-8">
          <%= f.text_field :last_name, autofocus: true, class: "form-control" %>
          <%= f.text_field :first_name, class: "form-control" %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="form-inline">
        <div class="col-md-2"></div>
        <div class="col-md-2">
          <%= f.label :last_name_kana, "フリガナ", class: "label-padding-top" %>
        </div>
        <div class="col-md-8">
          <%= f.text_field :last_name_kana, class: "form-control" %>
          <%= f.text_field :first_name_kana, class: "form-control" %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="form-inline">
        <div class="col-md-2"></div>
        <div class="col-md-2">
          <%= f.label :email, "メールアドレス", class: "label-padding-top" %>
        </div>
        <div class="col-md-8">
          <%= f.email_field :email, autocomplete: "email", class: "form-control" %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="form-inline">
        <div class="col-md-2"></div>
        <div class="col-md-2">
          <%= f.label :password, "パスワード", class: "label-padding-top" %>
        </div>
        <div class="col-md-8">
          <%= f.password_field :password, autocomplete: "new-password", placeholder: "6文字以上", class: "form-control" %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="form-inline">
        <div class="col-md-2"></div>
        <div class="col-md-2">
          <%= f.label :password_confirmation, "パスワード確認", class: "label-padding-top" %>
        </div>
        <div class="col-md-8">
          <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "再入力", class: "form-control" %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="form-inline">
        <div class="col-md-2"></div>
        <div class="col-md-2">
          <%= f.label :sex, "性別" %>
        </div>
        <div class="col-md-8">
          <%= f.radio_button :sex, :男 %><span class="radio-sex">男</span>
          <%= f.radio_button :sex, :女 %><span class="radio-sex">女</span>
          <%= f.radio_button :sex, :その他 %><span class="radio-sex">その他</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="form-inline">
        <div class="col-md-2"></div>
        <div class="col-md-2">
          <%= f.label :birthdate, "生年月日" %>
        </div>
        <div class="col-md-8">
          <%= raw sprintf(f.date_select(:birthdate, start_year: 1940, end_year: Time.current.year, use_month_numbers: true, include_blank: true, date_separator: '%s'), '年 ', '月 ') + '日' %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="form-inline">
        <div class="col-md-2"></div>
        <div class="col-md-2">
          <%= f.label :occupation, "職業" %>
        </div>
        <div class="col-md-8">
          <%= f.select :occupation, Writer.occupations.keys.to_a {}, include_blank: "選択してください", class: "form-control"%>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="form-inline">
        <div class="col-md-2"></div>
        <div class="col-md-2">
          <%= f.label :experience_year, "ライター経験年数" %>
        </div>
        <div class="col-md-8">
          <%= f.select :experience_year, Writer.experience_years.keys.to_a {}, include_blank: "選択してください" %>
        </div>
      </div>
    </div>
    <div class="actions">
      <%= f.submit "入力確認画面へ", class: "btn btn-default" %>
    </div>
  <% end %>
</div>
