<h2>Sign up</h2>

<%= form_for :writer, url: confirm_writer_registration_path do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :お名前 %><br />
    <%= f.text_field :last_name, autofocus: true %>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :フリガナ %><br />
    <%= f.text_field :last_name_kana %>
    <%= f.text_field :first_name_kana %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autocomplete: "email" %>
  </div>
  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>
  <div class="field">
    <%= f.label :性別 %><br />
    <%= f.radio_button :sex, :男 %>男
    <%= f.radio_button :sex, :女 %>女
    <%= f.radio_button :sex, :その他 %>その他
  </div>
  <div class="field">
    <%= f.label :生年月日 %><br />
    <%= raw sprintf(f.date_select(:birthdate, start_year: 1940, end_year: Time.current.year, use_month_numbers: true, include_blank: true, date_separator: '%s'), '年 ', '月 ') + '日' %>
  </div>
  <div class="field">
    <%= f.label :職業 %><br />
    <%= f.select :occupation, Writer.occupations.keys.to_a {}, include_blank: "選択してください" %>
  </div>
  <div class="field">
    <%= f.label :ライター経験年数 %><br />
    <%= f.select :experience_year, Writer.experience_years.keys.to_a {}, include_blank: "選択してください" %>
  </div>


  <div class="actions">
    <%= f.submit "入力確認画面へ" %>
  </div>
<% end %>

<%= render "writers/shared/links" %>
